# Environment
.env
*.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
wheels/
.installed.cfg
lib/
lib64/
.venv/
venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints

# Rust
target/
Cargo.lock
**/*.rs.bk

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Test data
scripts/sample_*.json
